services:
  admin-page:
    build:
      context: .
      dockerfile: Dockerfile
    image: admin-unlocktool:latest
    container_name: admin-unlocktool
    restart: unless-stopped
    mem_limit: 64m
    environment:
      - TZ=Asia/Jakarta
    networks:
      - traefik_net
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=kreanovasi_appnet"
      # HTTPS Router
      - "traefik.http.routers.admin-unlocktool-secure.rule=Host(`admin.sewaunlocktool.id`)"
      - "traefik.http.routers.admin-unlocktool-secure.entrypoints=websecure"
      - "traefik.http.routers.admin-unlocktool-secure.tls.certresolver=le"
      - "traefik.http.routers.admin-unlocktool-secure.service=admin-unlocktool"
      # HTTP Router (redirect to HTTPS)
      - "traefik.http.routers.admin-unlocktool.rule=Host(`admin.sewaunlocktool.id`)"
      - "traefik.http.routers.admin-unlocktool.entrypoints=web"
      - "traefik.http.routers.admin-unlocktool.middlewares=https-redirect"
      # Middlewares
      - "traefik.http.middlewares.https-redirect.redirectscheme.scheme=https"
      - "traefik.http.middlewares.https-redirect.redirectscheme.permanent=true"
      # Service
      - "traefik.http.services.admin-unlocktool.loadbalancer.server.port=80"

networks:
  traefik_net:
    external: true
    name: kreanovasi_appnet
